<a href="https://colab.research.google.com/github/JitendraAlim/Basic-Projects/blob/master/Diet_Effect.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing Required Libraries

In [40]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [25]:
diet = pd.read_csv('https://raw.githubusercontent.com/JitendraAlim/Data/master/Diet.csv')
print('Dimension of Diet :', diet.shape)
diet.head()

Dimension of Diet : (60, 7)

   person  gender  age  height  pre_weight  Diet  weight_post_6_weeks
0       1       0   22     159          58     1                 54.2
1       2       0   46     192          60     1                 54.0
2       3       0   55     170          64     1                 63.3
3       4       0   33     171          64     1                 61.1
4       5       0   50     170          65     1                 62.2

The data includes the obsevations of the effect of diet on 60 people.

In [26]:
diet['Diet'].unique()

array([1, 2, 3])

There are 3 types of diet plans included in this dataset.

The objective of this problem is to predict the effect of diet in term of weight of the individuals post 6 weeks of the given diet based on the `gender`, `age`, `height`, `weight` and the type of `diet`.

The variable `gender` is a binary numeric variable. The `diet` variable is originally a categorical variable represented numerically. It has to be converted into dummy variables.

Since there are 3 different types of diets, the `diet` variable has to be converted into 2 dummy variables.

In [27]:
pd.get_dummies(diet['Diet'], prefix = 'Diet', prefix_sep = '').head()

   Diet1  Diet2  Diet3
0      1      0      0
1      1      0      0
2      1      0      0
3      1      0      0
4      1      0      0

In [28]:
pd.concat([diet, pd.get_dummies(diet['Diet'], prefix = 'Diet', prefix_sep = '')], axis = 1).head()

   person  gender  age  height  ...  weight_post_6_weeks  Diet1  Diet2  Diet3
0       1       0   22     159  ...                 54.2      1      0      0
1       2       0   46     192  ...                 54.0      1      0      0
2       3       0   55     170  ...                 63.3      1      0      0
3       4       0   33     171  ...                 61.1      1      0      0
4       5       0   50     170  ...                 62.2      1      0      0

[5 rows x 10 columns]

In [29]:
pd.concat([diet, pd.get_dummies(diet['Diet'], prefix = 'Diet', prefix_sep = '', drop_first = True)], axis = 1).head()

   person  gender  age  height  ...  Diet  weight_post_6_weeks  Diet2  Diet3
0       1       0   22     159  ...     1                 54.2      0      0
1       2       0   46     192  ...     1                 54.0      0      0
2       3       0   55     170  ...     1                 63.3      0      0
3       4       0   33     171  ...     1                 61.1      0      0
4       5       0   50     170  ...     1                 62.2      0      0

[5 rows x 9 columns]

In [30]:
diet = pd.concat([diet, pd.get_dummies(diet['Diet'], prefix = 'Diet', prefix_sep = '', drop_first = True)], axis = 1).drop(['Diet'], axis = 1)
diet.head()

   person  gender  age  height  pre_weight  weight_post_6_weeks  Diet2  Diet3
0       1       0   22     159          58                 54.2      0      0
1       2       0   46     192          60                 54.0      0      0
2       3       0   55     170          64                 63.3      0      0
3       4       0   33     171          64                 61.1      0      0
4       5       0   50     170          65                 62.2      0      0

Now Linear Regression can be carried out.

In [39]:
X = diet.drop(['person', 'weight_post_6_weeks'], axis = 1)
y = diet['weight_post_6_weeks']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

In [41]:
reg = LinearRegression()
reg.fit(X_train, y_train)
r2_score(reg.predict(X_train), y_train)

0.9329077998202169

In [42]:
r2_score(reg.predict(X_test), y_test)

0.8968272592629195